<h2>Edit a new drone</h2>
<form method="POST" action="/drones/{{dron._id}}/edit">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input value="{{dron.name}}" name="myName" type="text" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Propellers</label>
    <input value="{{dron.propellers}}" name="myPropellers" type="text" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription1" class="form-label">Max speed</label>
    <input value="{{dron.maxSpeed}}" name="myMaxSpeed" type="text" class="form-control" id="exampleInputDescription1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>